p Recent applicants:

text TODO show some voting functionality here.

ol.applicants
  - applicants.forEach(function(applicant) {
    li
      div.applicant
        span.first_name #{applicant.first_name}
        text &nbsp;
        span.last_name #{applicant.last_name} 
        - if (applicant.created_at) {
          span.applied_at (applied #{applicant.created_at.time_ago()})
        - }
        br
        - if (applicant.website) {
          a(href: applicant.website).website #{applicant.website}
          br
        - }
        div.comment
          !{Markz.prototype.markup(applicant.comment)}

        // membership voting buttons
        
        text vote: 
        a(href: "#", title: applicant.accepted_by.join(" ")).vote_allow accept 
          span.vote_allow_count #{applicant.accepted_by.length}
        text &nbsp;|&nbsp;
        a(href: "#").vote_deny deny 
          span.vote_deny_count #{applicant.denied_by.length}
        
  - })

:sass
  | body
  |   .timeago
  |     :font-size 0.8em
  |   a.website
  |     :color #66F
  |   .first_name, .last_name
  |     :color #333
  |   .applied_at
  |     :font-size 0.8em
  |   .comment
  |     :padding 5px
  |   ol>li>div.applicant
  |     :margin-bottom 20px
  |   .vote_allow, .vote_allow:visited
  |     :color green
  |   .vote_deny, .vote_deny:visited
  |     :color red

:javascript
  | $(document).ready(function() {
  |   
  | });
