!!! 5
html(lang="en")
  head
    title= title
    script(type="text/javascript", src="https://www.google.com/jsapi?key=ABQIAAAAV88HHyf8NBcAL3aio53OixSEBwhbzDd0F998UkbSll3boCkrihTFj2uO3yETr_J5z25r2aIc4YCVpQ")
    //script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(type="text/javascript", src=require('./utils').static_file("jquery-1.4.2.min.js"))
    script(type="text/javascript", src="/static/underscore.js")
    script(type="text/javascript", src=require('./utils').static_file("client.js"))
    script(type="text/javascript", src=require('./utils').static_file("coffeekup.js"))
    script(type="text/javascript", src=require('./utils').static_file("markz.js"))
    script(type="text/javascript", src=require('./utils').static_file("record.js"))
    link(type="text/css", rel="stylesheet", href=require('./utils').static_file("main.css"))

  body
    div#headerbar
      - if (typeof headerbar_text != 'undefined')
        span.logo #{headerbar_text}
      - else
        a.logo(href: "/")
          img(src: "/static/logo.png")
        span.links
          a(href: "/submit") submit
          | &nbsp;|&nbsp;
          a(href: "/submit?type=poll") poll
          | &nbsp;|&nbsp;
          a(href: "/admin/tracker") tracker
        div(style: "float: right")
          - if (current_user)
            a(href: "/user/"+current_user.username).username #{current_user.username}
            | &nbsp;|&nbsp;
            a.logout(href: "/logout") logout
          - else
            span.username anonymous
            | &nbsp;|&nbsp;
            a.login(href: "/login") login
        
    div#body_contents
      !{body}
